# Supabase settings
PUBLIC_SUPABASE_URL='https://REPLACE_ME.supabase.co'
PUBLIC_SUPABASE_ANON_KEY='REPLACE_ME'
PRIVATE_SUPABASE_SERVICE_ROLE='REPLACE_ME'

# Stripe settings
PRIVATE_STRIPE_API_KEY='REPLACE_ME'

# Optional - settings for email

# Email address admin messages will be sent to
# PRIVATE_ADMIN_EMAIL='your_email@example.com'
# Email address messages will be sent from
# PRIVATE_FROM_ADMIN_EMAIL='no_reply@example.com'
# Resend API key
# PRIVATE_RESEND_API_KEY='your_resend_api_key'