@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply cursor-pointer;
}

/* Hack to temporarily solve https://github.com/supabase/auth-ui/issues/219 */
.authBtn {
  @apply btn;
}
button[disabled].authBtn {
  font-size: 0.001px;
  filter: brightness(65%);
}
button[disabled].authBtn::before {
  font-size: 14px;
  content: "Loading...";
  color: oklch(var(--pc));
}
